{% extends "layout.html" %}
{% block content %}

<div class="card">
    <div class="card-body">
        <h5><em>Register New User</em></h5>
        <p>You have accessed the IT Helpdesk Application</p>
        <form method="POST">
            <div class="form-group">
                <label for="name">Username:</label><input
                    class="form-control" type="text" id="username"
                    name="username" required><br/>
                <label for="password">Password:</label><input
                    class="form-control" type='password' id="password"
                    name="password" required>
                <label for="password2"Reenter>Password:</label><input
                    class="form-control" type='password' id="password2"
                    name="password2" required>
                <button type="submit" class="btn btn-primary mt-4">
                    Submit
                </button>
                <a href="{{ url_for( '.generate' )}}"> Generate Strong Password </a>
            </div>
        </form>
    </div>
</div>

{% endblock %}